<h1>Conheça Nossos Cursos</h1>
<div class="d-flex justify-content-center" id="content">
    <div class="row w-75 justify-content-center">
        <div class="card m-4 card-curso" style="width: 18rem;">
            <img src="assets/img/adm.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Administração</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
        </div>
      <div class="card m-4 card-curso" style="width: 18rem;">
        <img src="assets/img/design.png" class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">Design</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card m-4 card-curso" style="width: 18rem;">
        <img src="assets/img/civil.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engenharia Civil</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card m-4 card-curso" style="width: 18rem;">
        <img src="assets/img/ca.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engenharia de Controle e Automação</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card m-4 card-curso" style="width: 18rem;">
        <img src="assets/img/comp.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engenharia de Computação</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card m-4 card-curso" style="width: 18rem;">
        <img src="assets/img/alimentos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engenharia de Alimentos</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>