<h1>Conheça Nossos Cursos</h1>

<div class="d-flex" id="content">
  <form class="ml-5">
    <div class="row mb-2">
      <div class="col">
        <input class="form-control" id="nomeCurso" placeholder="Nome do Curso">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" style="background-color: #004785;border-color: #424c6e;">Criar</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Descrição"></textarea>
      </div>
    </div>
  </form>
</div>
