<div class="container mt-5" id="content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de Criação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cursos; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{c.nome}}</td>
          <td>{{c.descricao}}</td>
          <td>Agora</td>
        </tr>
      </tbody>
    </table>
  </div>