    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professores</li>
        </ol>
    </nav>
    <div class="content">
        <h1>Professores</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 align-self-center">
                        <span class="item-name">Erick Barbosa Carvalho</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <span class="item-text">Resistência dos Materiais</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <a href="#"><span>CV</span></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 align-self-center">
                        <span class="item-name">Otávio Pereira Barros</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <span class="item-text">Banco de Dados</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <a href="#"><span>CV</span></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 align-self-center">
                        <span class="item-name">Luis Cunha Pereira</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <span class="item-text">Mecânica dos Fluidos</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <a href="#"><span>CV</span></a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4 align-self-center">
                        <span class="item-name">Mariana Almeida Barros</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <span class="item-text">Linguagens I</span>
                    </div>
                    <div class="col-4 align-self-center">
                        <a href="#"><span>CV</span></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
